<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.growby">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Growby"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.Login"/>
        <activity android:name=".onboard.OnBoardActivity"/>
        <activity android:name=".AddBabyActivity"/>
        <activity android:name=".DetailArtikel"/>
        <activity android:name=".ChatDetailActivity"/>
        <activity android:name=".AddEventActivity"/>
        <activity android:name=".OrderActivity"/>
        <activity android:name=".DetailFood"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/Theme.Login"/>
    </application>

</manifest>